* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html, body {
width: 100%;
height: 100%;
}

#main {
    margin: 10% 20%;
    /* transform: translateX(-50%); */
}

input {
    /* width: 15rem; */
    /* height: 2.5rem; */
    padding: .8rem 1.9rem;
    margin: 1em 1em 1em 0;
    font-size: 1rem;
}

#button{
    padding: .8rem 2rem;
}



@media (max-width: 1334px) {
    span{
        display: block;
    }
}